@model DocumentManagementSystem.Models.ViewModels.Books4.CreateAddition.CreateAddition

@{
    ViewBag.Title = "添加信息";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("返回", "Details", new { id = Model.DocumentId })</li>
</ul>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.DocumentId)

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AdditionCategoryId", null, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdditionCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </div>
    </div>
}