@model DocumentManagementSystem.Models.ViewModels.Books4.DetailsBook.DetailsBook

@{
    ViewBag.Title = Model.Title;
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("返回书籍一览", "IndexBook", "Books4", null, null)</li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <hr />
            <div class="btn-group">
                @Html.ActionLink("添加信息", "CreateAddition", new { Model.DocumentId }, new { @class = "btn btn-default" })
                @Html.ActionLink("编辑", "EditBook", new { Model.DocumentId }, new { @class = "btn btn-default" })
                @Html.ActionLink("移动", "MoveBook", new { DocumentId = Model.DocumentId }, new { @class = "btn btn-default" })
                @if (!Model.IsChecked)
                {
                    @Html.ActionLink("查阅", "SetCheckedBook", new { Model.DocumentId, Model.TimeStamp }, new { @class = "btn btn-default btn-danger" })
                }
                else
                {
                    <button class="btn btn-success" disabled>已查阅</button>
                }
            </div>
            <div class="table-bordered alert-info">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>

                    <dt>
                        <span>书架</span>
                    </dt>
                    <dd>
                        @Html.Action("ListShelfForBook", new { DocumentId = Model.DocumentId })
                    </dd>

                    @Html.Action("IndexAddition", new { DocumentId = Model.DocumentId })
                </dl>
            </div>
            <hr />
            <div class="btn-group">
                @Html.ActionLink("添加子级章节", "CreateChapterSubLevel", new { ParentDocumentId = Model.DocumentId }, new { @class = "btn btn-default" })
            </div>
            @Html.Action("IndexChapterForBook", new { ParentDocumentId = Model.DocumentId })
        </div>
        <div class="col-md-4">
            <hr />
            @Html.Action("DirectoryBook", new { Model.DocumentId })
        </div>
    </div>
</div>