@model DocumentManagementSystem.Models.ViewModels.Books4.DetailsShelf.DetailsShelf

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr />
            <div class="btn-group">
                @Html.ActionLink("添加书籍", "CreateBook", new { ParentDocumentId = Model.DocumentId }, new { @class = "btn btn-default" })
            </div>
            <hr />
            <div class="table-bordered">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>
                </dl>
            </div>
            <hr />
            @Html.Action("IndexShelfForShelf", new { ParentDocumentId = Model.DocumentId })
        </div>
        <div class="col-md-6">
            <hr />
            @Html.Action("IndexBookForShelf", new { ParentDocumentId = Model.DocumentId })
        </div>
    </div>
</div>