@model DocumentManagementSystem.Models.ViewModels.Books4.DetailsBook.DetailsBook

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr />
            <div class="table-bordered">
                <dl class="dl-horizontal">
                    <dt>
                        <span>书架</span>
                    </dt>
                    <dd>
                        @Html.Action("ListShelfForBook", new { DocumentId = Model.DocumentId })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsChecked)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsChecked)
                    </dd>

                    @Html.Action("IndexAddition", new { DocumentId = Model.DocumentId })
                </dl>
            </div>
            <hr />
            @Html.Action("IndexChapterForBook", new { ParentDocumentId = Model.DocumentId })
        </div>
        <div class="col-md-6">
            <hr />
            @Html.Action("DirectoryBook", new { ParentDocumentId = Model.DocumentId })
        </div>
    </div>
</div>