@model DocumentManagementSystem.Models.ViewModels.Books4.DetailsChapter.DetailsChapter

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr />
            <div class="btn-group">
                @Html.ActionLink("编辑", "EditChapter", new { Model.DocumentId }, new { @class = "btn btn-default" })
                @if (!Model.IsChecked)
                {
                    @Html.ActionLink("查阅", "SetCheckedChapter", new { Model.DocumentId, Model.TimeStamp }, new { @class = "btn btn-default" })
                }
            </div>
            <hr />
            <div class="table-bordered">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsChecked)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsChecked)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-6">
            <hr />
            @Html.Action("DirectoryChapter", new { Model.DocumentId })
            <hr />
            <div class="btn-group">
                @Html.ActionLink("添加同级章节", "CreateChapterSameLevel", new { CurrentDocumentId = Model.DocumentId }, new { @class = "btn btn-default" })
                @Html.ActionLink("添加子级章节", "CreateChapterSubLevel", new { ParentDocumentId = Model.DocumentId }, new { @class = "btn btn-default" })
            </div>
            <hr />
            @Html.Action("IndexChapterForChapter", new { ParentDocumentId = Model.DocumentId })
        </div>
    </div>
</div>