@model IEnumerable<DocumentManagementSystem.Models.ViewModels.Documents.Details.ItemChapter>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ChapterName)
            </th>
            <th class="text-center" width="8%">
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th class="text-center" width="6%">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChapterName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td class="text-center">
                    <a href="@Url.Action("DeleteChapter", new { chapterId=item.ChapterId })">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>