@model DocumentManagementSystem.Models.ViewModels.Documents.Details.Details

@{
    ViewBag.Title = Model.Title;
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("主界面", "Index", "Home", null, null)</li>
    <li>@Html.ActionLink("文档", "Index", "Documents", null, null)</li>
    @Html.Action("BreadField", new { Model.DocumentId, activeCurrentNode = false })
</ul>

<div>
    <h2>
        @ViewBag.Title
        <span id="IsFinished" class="glyphicon glyphicon-check" aria-hidden="true" style="display:none"></span>    
    </h2>
</div>

<div>
    <hr />
</div>

<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.DocumentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentId)
            <button class="btn btn-default btn-sm" data-clipboard-text="@(Model.DocumentId)">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                复制
            </button>
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NodeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinutesToRead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinutesToRead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMinutesToRead)
        </dt>
        <dd>
            <span id="TotalMinutesToRead">@Html.DisplayFor(model => model.TotalMinutesToRead)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>
        <dd>
            <input id="IsChecked" class="check-box" disabled="disabled" type="checkbox">

            <button id="SetChecked" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                设置
            </button>
            <button id="SetUnChecked" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                取消
            </button>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsNoted)
        </dt>
        <dd>
            <input id="IsNoted" class="check-box" disabled="disabled" type="checkbox">

            <button id="SetNoted" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                设置
            </button>
            <button id="SetUnNoted" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                取消
            </button>
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.IsGetAllChildren)
        </dt>
        <dd>
            <input id="IsGetAllChildren" class="check-box" disabled="disabled" type="checkbox">

            <button id="SetGetAllChildren" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                设置
            </button>
            <button id="SetUnGetAllChildren" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                取消
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGetAllChapters)
        </dt>
        <dd>
            <input id="IsGetAllChapters" class="check-box" disabled="disabled" type="checkbox">

            <button id="SetGetAllChapters" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                设置
            </button>
            <button id="SetUnGetAllChapters" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                取消
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBookmarked)
        </dt>
        <dd>
            <input id="IsBookmarked" class="check-box" disabled="disabled" type="checkbox">

            <button id="SetBookmarked" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                设置
            </button>
            <button id="SetUnBookmarked" class="label label-default" style="display: none;">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                取消
            </button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.Raw(string.IsNullOrEmpty(Model.Remarks) ? string.Empty : @Model.Remarks.Replace("\n", "<br />"))
        </dd>        
    </dl>
</div>

<div>
    <p>
        @*@if (Model.ParentDocumentId == null)
        {
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                一览
            </a>
        }
        else
        {
            <a href="@Url.Action("Details", new { id = Model.ParentDocumentId })" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                父节点
            </a>
        }*@
        @if (Model.PreSilbingDocumentId.HasValue)
        {
            <a href="@Url.Action("Details",new { id=Model.PreSilbingDocumentId})" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                上一篇
            </a>
        }
        else
        {
            <button class="btn btn-default" disabled="disabled">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                上一篇
            </button>
        }
        @if (Model.PostSilbingDocumentId.HasValue)
        {
            <a href="@Url.Action("Details",new { id=Model.PostSilbingDocumentId})" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                下一篇
            </a>
        }
        else
        {
            <button class="btn btn-default" disabled="disabled">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                下一篇
            </button>
        }
        <a href="@Url.Action("Edit", new { id = Model.DocumentId})" class="btn btn-default">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            编辑
        </a>
    </p>
</div>

<div>
    <hr />
</div>

<div class="row">
    @* 子项目 *@
    <div class="col-md-6">
        <p>
            <a id="CreateChild" href="@Url.Action("Create", new { parentDocumentId = Model.DocumentId })" class="btn btn-default" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增子节点
            </a>
            <a id="CannotCreateChild" class="btn btn-default disabled" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增子节点
            </a>
            <a id="CreateChildByUrl" href="@Url.Action("CreateByUrl", new { parentDocumentId = Model.DocumentId })" class="btn btn-default" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增子节点用URL
            </a>
            <a id="CannotCreateChildByUrl" class="btn btn-default disabled" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增子节点用URL
            </a>
        </p>
        <div>
            @Html.Partial("Details_ListChildDocuments", Model.ListChildDocuments)
        </div>
    </div>

    @* 章节 *@
    <div class="col-md-6">
        <p>
            <a id="CreateChapter" href="@Url.Action("CreateChapter", new { documentId = Model.DocumentId })" class="btn btn-default" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增章节
            </a>
            <a id="CannotCreateChapter" class="btn btn-default disabled" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增章节
            </a>
            <a id="CreateChapterBatch" href="@Url.Action("CreateChapterBatch", new { documentId = Model.DocumentId })" class="btn btn-default" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增章节-批量
            </a>
            <a id="CannotCreateChapterBatch" class="btn btn-default disabled" style="display: none;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新增章节-批量
            </a>
        </p>
        <div>
            @Html.Partial("Details_ListChapters", Model.ListChapters)
        </div>
    </div>
</div>

<script>
    var flagIsChecked =@Model.IsChecked.ToString().ToLower();
    @*var flagIsNoted =@Model.IsNoted.ToString().ToLower();*@ var flagIsNoted = false;
    var flagIsGetAllChildren =@Model.IsGetAllChildren.ToString().ToLower();
    var flagIsGetAllChapters =@Model.IsGetAllChapters.ToString().ToLower();
    var flagIsFinished=@Model.IsFinished.ToString().ToLower();
    var intTotalMinutesToRead=@Model.TotalMinutesToRead;
    var flagIsBookmarked=@Model.IsBookmarked.ToString().ToLower();

    var urlServicesGetDocument = '@Url.Action("GetDocument","services", new { id = Model.DocumentId })';

    var urlServicesDocumentSetChecked = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsChecked&value=true';
    var urlServicesDocumentSetUnChecked =  '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsChecked&value=false';
    var urlServicesDocumentSetNoted = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsNoted&value=true';
    var urlServicesDocumentSetUnNoted =  '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsNoted&value=false';
    var urlServicesDocumentSetGetAllChildren = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsGetAllChildren&value=true';
    var urlServicesDocumentSetUnGetAllChildren = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsGetAllChildren&value=false';
    var urlServicesDocumentSetGetAllChapters = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsGetAllChapters&value=true';
    var urlServicesDocumentSetUnGetAllChapters = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsGetAllChapters&value=false';
    var urlServicesDocumentSetBookmarked = '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsBookmarked&value=true';
    var urlServicesDocumentSetUnBookmarked =  '/Services/SetDocumentFlag?id=@Model.DocumentId&property=IsBookmarked&value=false';
</script>

@section Scripts {
    <script src="~/Scripts/clipboard.min.js"></script>
    <script src="~/Scripts/dms-normal.js"></script>
    <script src="~/Scripts/dms-documents-details.js"></script>
}